[database]
default_connection = mysql

#aws rds
# [mysql]
# driver = pymysql
# host = altaolcourse.cmsiymktm7gp.ap-southeast-1.rds.amazonaws.com
# db = AltaOnlineLearning
# user = root
# port = 3306
# password = altaolc123

#db local
[mysql]
driver = pymysql
host = 0.0.0.0
db = AltaOnlineLearning
user = root
port = 3306
password = alta123

[aws]
key_id = AKIAI4WFYB5U6KUPZ7QA
secret_key = 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
bucket = alterra-online-learning

[jwt]
secret_key = SFsieaaBsLEpecP675r243faM8oSB2hV